@model IEnumerable<CreacionesPajov.WEB.Models.Entities.Produccion>

<div class="content">
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="contenedor-index">
                <div class="col-md-7">
                    <h2>Gestión de <b> @ViewBag.Titulo</b></h2>
                </div>
                <br />
                <div class="col-md-7">
                    <a onclick="mostrarModal('@Url.Action("Crear","Produccion",null,Context.Request.Scheme)','Crear producción')" class="btn btn-emp">Crear Producción</a>
                </div>
            </div>

            @if (Model.Count() == 0)
            {
                <br />
                <p>No existen Producciones</p>

            }
            else
            {
                <br />
                <div class="contenedor-tabla">
                    <table class="table table-striped" id="tabla">
                        <thead class="thead-dark">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                                <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                                <th>@Html.DisplayNameFor(model => model.FechaRegistro)</th>
                                <th>@Html.DisplayNameFor(model => model.Fases)</th>
                                @*<th>@Html.DisplayNameFor(model => model.FechaSalida)</th>*@
                                <th>@Html.DisplayNameFor(model => model.Estado)</th>
                                @*<th>@Html.DisplayNameFor(model => model.Fases)</th>*@
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Produccion in Model)
                            {
                            <tr>
                                <td>@Produccion.Nombre</td>
                                <td>@Produccion.Descripcion</td>
                                <th>@Produccion.FechaRegistro</th>
                                <th>@Produccion.Fases.Nombre</th>
                                @* <th>@Produccion.FechaSalida</th>*@
                                @*<th>@Produccion.Fases.Nombre</th>*@


                                @*<td>@Produccion.Estado</td>*@

                                @if (Produccion.Estado)
                                {
                                    <td><span class="badge badge-act">Habilitado</span></td>
                                }
                                else
                                {
                                    <td><span class="badge badge-desc">Deshabilitado</span></td>
                                }


                                <td>
                                    <a class="text-success" href="javascript:mostrarModal('@Url.Action("Detalle","Produccion",new {id=Produccion.ProduccionId},Context.Request.Scheme)','Detalle Producción')"> <i title="Detalle" class="color-icono1 fa-solid fa-magnifying-glass-plus"></i></a> |
                                    <a href="javascript:mostrarModal('@Url.Action("Editar","Produccion",new {id=Produccion.ProduccionId},Context.Request.Scheme)','Editar Producción')"><i title="Editar" class="color-icono2 fa-solid fa-user-pen"></i>|</a>
                                    @if (Produccion.Estado)
                                    {
                                        <a class="text-success" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Produccion",new {id=Produccion.ProduccionId},Context.Request.Scheme)')"> <i title="Deshabilitar" class="color-icono1 fa-solid fa-toggle-on"></i></a>
                                    }
                                    else
                                    {
                                        <a class="text-secondary" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Produccion",new {id=Produccion.ProduccionId},Context.Request.Scheme)')"> <i title="Habilitar" class="color-icono2 fa-solid fa-toggle-off"></i></a>

                                    }



                                </td>

                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/tabla.js"></script>

    <script>
       @if (TempData["Accion"]!=null && TempData["Accion"].ToString().Equals("Guardar"))
       {
          <text>
            alertify.set('notifier','position','top-right');
            alertify.notify('@TempData["Mansaje"] ', 'success', 5, function( ) {

            });
          </text>
       }
    </script>


}
