@model IEnumerable<CreacionesPajov.WEB.Models.Entities.Fase>
@section Styles{

}

<div class="content">
    <div class="container-fluid">
        <div class="table-responsive">
             <div class="contenedor-index">
            <div class="col-md-7">
                <h2>Gestión de <b> @ViewBag.Titulo</b></h2>
            </div>
            <br />
            <div class="col-md-7">
                <a onclick="mostrarModal('@Url.Action("Crear","Fases",null,Context.Request.Scheme)','Crear Fase')" class="btn btn-emp">Crear Fase</a>
            </div>
            </div>

            @if (Model.Count() == 0)
            {   <br />
                <p>No existen Fases</p>
            }
            else
            {
                <br />
                <div class="contenedor-tabla">
                    <table class="table table-striped" id="tabla">
                        <thead class="thead-dark">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                                <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                                <th>@Html.DisplayNameFor(model => model.Estado)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Fase in Model)
                            {
                                <tr>
                                    <td>@Fase.Nombre</td>
                                    <td>@Fase.Descripcion</td>
                                    @*<td>@Fase.Estado</td>*@

                                    @if (Fase.Estado)
                                    {
                                        <td><span class="badge badge-act">Habilitado</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-desc">Deshabilitado</span></td>
                                    }

                                    @*<td>
                            <a class="text-success" href="javascript:mostrarModal('@Url.Action("Detalle","Fases",new {id=Fase.FaseId},Context.Request.Scheme)','Detalle Fase')"> <i title="Detalle" class="fa-solid fa-user-plus"></i></a> |
                            <a href="javascript:mostrarModal('@Url.Action("Editar","Fases",new {id=Fase.FaseId},Context.Request.Scheme)','Editar Fase')"><i title="Editar" class="fa-solid fa-user-pen"></i>|</a>
                            @if (Fase.Estado)
                            {
                                <a class="text-success" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","",new {id=Fase.FaseId},Context.Request.Scheme)')"> <i title="Deshabilitar" class="fa-solid fa-toggle-on"></i></a>
                            }
                            else
                            {
                                <a class="text-secondary" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Fases",new {id=Fase.FaseId},Context.Request.Scheme)')"> <i title="Habilitar" class="fa-solid fa-toggle-off"></i></a>

                            }



                        </td>*@

                                    <td>
                                        <a class="text-success" href="javascript:mostrarModal('@Url.Action("Detalle","Fases",new {id=Fase.FaseId},Context.Request.Scheme)','Detalle Fase')"> <i title="Detalle" class="color-icono1 fa-solid fa-magnifying-glass-plus"></i> </a> |
                                        <a href="javascript:mostrarModal('@Url.Action("Editar","Fases",new {id=Fase.FaseId},Context.Request.Scheme)','Editar Fase')"><i title="Editarr" class="color-icono2 fa-solid fa-user-pen"></i>|</a>
                                        @if (Fase.Estado)
                                        {
                                            <a class="text-success" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Fases",new {id=Fase.FaseId},Context.Request.Scheme)')"> <i title="Deshabilitar" class="color-icono1 fa-solid fa-toggle-on"></i></a>
                                        }
                                        else
                                        {
                                            <a class="text-secondary" href="javascript:cambiarEstado('@Url.Action("CambiarEstado","Fases",new {id=Fase.FaseId},Context.Request.Scheme)')"> <i title="Habilitar" class="color-icono1 fa-solid fa-toggle-off"></i></a>

                                        }



                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/tabla.js"></script>

    <script>
       @if (TempData["Accion"]!=null && TempData["Accion"].ToString().Equals("Guardar"))
       {
          <text>
            alertify.set('notifier','position','top-right');
            alertify.notify('@TempData["Mansaje"] ', 'success', 5, function( ) {

            });
          </text>
       }
    </script>


}
