@model IEnumerable<CreacionesPajov.WEB.Models.Entities.Tela>

<div class="content">
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="contenedor-index">
                <div class="col-md-7">
                    <br />
                    <h2>Gestión de <b> @ViewBag.Titulo</b></h2>
                </div>
                <br />
                <div class="col-md-7">
                    <a onclick="mostrarModal('@Url.Action("Crear","Tela",null,Context.Request.Scheme)','Crear Tela')" class="btn btn-emp">Crear Tela</a>
                    <br />
                </div>
                <br />
            </div>


            @if (Model.Count() == 0)
            {<br />
                <p>No existen Telas</p>
            }
            else
            {
                <br />
                <div class="contenedor-tabla">
                    <table class="table table-striped" id="tabla">
                        <thead class="thead-dark">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
                                @*<th>@Html.DisplayNameFor(model => model.Descripcion)</th>*@
                                @*<th>@Html.DisplayNameFor(model => model.EmpresaEmpaque)</th>*@
                                @*<th>@Html.DisplayNameFor(model => model.EmpresaRevision)</th>*@
                                @*<th>@Html.DisplayNameFor(model => model.Observaciones)</th>*@
                                <th>@Html.DisplayNameFor(model => model.Referencia)</th>
                                <th>@Html.DisplayNameFor(model => model.Tejido)</th>
                               
                                <th>Acciones</th>
                                @* <th>@Html.DisplayNameFor(model => model.ColoresHilos)</th>*@
                                @*<th>@Html.DisplayNameFor(model => model.ProveedoresHilo)</th>*@
                            </tr>
                        </thead>

                        <tbody class="letra-table">
                            @foreach (var tela in Model)

                            {
                            <tr>
                                <td>@tela.Cantidad</td>
                                @*<td>@tela.Descripcion</td>*@
                                @*<td>@tela.EmpresaEmpaque</td>*@
                                @*<td>@tela.EmpresaRevision</td>*@
                                <td>@tela.Referencia</td>
                                <td>@tela.Tejido</td>

                               
                                <td>
                                    <a class="text-success" href="javascript:mostrarModal('@Url.Action("Detalle","Tela",new {id=tela.TelaId},Context.Request.Scheme)','Detalle tela')"> <i title="Detalle" class="color-icono1 fa-solid fa-magnifying-glass-plus"></i></a> |
                                    <a href="javascript:mostrarModal('@Url.Action("Editar","Tela",new {id=tela.TelaId},Context.Request.Scheme)','Editar Tela')"><i title="Editar" class="color-icono2 fa-solid fa-user-pen"></i>|</a>

                                </td>
                            </tr>

                            }
                        </tbody>

                    </table>
                    <br />

                </div>
            }

        </div>
    </div>
</div>





@section Scripts{

    <script src="~/js/tabla.js"></script>

    <script>
       @if (TempData["Accion"]!=null && TempData["Accion"].ToString().Equals("Guardar"))
       {
          <text>
            alertify.set('notifier','position','top-right');
            alertify.notify('@TempData["Mansaje"] ', 'success', 5, function( ) {

            });
          </text>
       }
    </script>


}
